:root {
	--fg: lightblue;
}

body {
	background-color: #181818;
	color: #d8d8d8;
	text-align: center;
}

ul {
	list-style-type: none;

	margin: 0;
	padding: 0;
}

li {
	width: 100%;
}

button {
	opacity: 0.87;
	padding: 1% 1%;
	background-color: var(--fg);
	border: none;
	width: 50%;
}

button:hover {
	opacity: 1;
	box-shadow: inset 0px 0px 0.7em 0.3em black;
}

pre {
	padding: 2em 2em;
	margin: 2.5%;

	border: 0.2em solid var(--fg);

	text-align: left;
	white-space: pre-wrap;
	overflow: auto;
	max-height: 200px;
	overflow-wrap: anywhere;
}

header {
	position: relative;
	text-align: left;

	display: inline-block;
	flex-flow: column;
}

header > * {
	position: relative;
	margin: 0.2em;
	align-self: center;
	width: 100%
}

em {
	color: var(--fg);
}

.blob-items {
	display: flex;
}

.blob-items > * {
	flex-basis: 100%;
	text-align: center;
}
